* {
    margin: 0;
    padding: 0;
    font: normal 16px/1.2 'Montserrat', sans-serif;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}

#toast-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    font-weight: bold;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast-success {
    background-color: #4caf50;
}

.toast-warning {
    background-color: #ff9800;
}

/* Header */
header {
    display: flex;
    background-color: #333333;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
}

nav {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}

.commerce {
    display: flex;
    align-items: center;
}

.commerce * {
    margin-right: 20px;
}

.commerce img {
    height: 30px;
    width: 30px;
}

.search-field {
    background-color: #dadada;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
}

.search-field img {
    height: 20px;
    width: 20px;
}

.input-field {
    height: 100%;
    border: none;
    background-color: #dadada;
    font-weight: normal;
}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
    color: #aaaaaa;
}

/* Home */
.carousel {
    height: calc(100vh - 220px);
    /*
    width: 80vw;
    margin: 0 auto;
    */
}

.carousel-inner, .carousel-item, .carousel-item img{
    height: 100%;
}

.showcase {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Feedback */
.feedback {
    width: 100%;
    height: 80px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.feedback input {
    height: 60%;
    width: 70%;
    padding: 10px;
    border: 3px solid #aaaaaa;
    background-color: #ffffff;
    border-radius: 5px;
}

.feedback input::placeholder {
    margin-left: 20px;
}

.submit-button {
    height: 60%;
    margin-left: 30px;
    padding: 10px 40px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff9900;
}

/* Footer */
.info {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.column {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.column:nth-child(2){
    width: 300px;
}

.column h2 {
    font-size: 20px;
    font-weight: bold;
    flex: 0 0 100%;
    margin-bottom: 0;
}

.column h3, .column p {
    box-sizing: border-box;
    font-size: 12px;
    margin: 10px 0 0 0;
}

.column h3 {
    flex: 0 0 auto;
    font-weight: bold;
    margin-left: 40px;
}

.column:first-child p{
    flex: 1 1 100%;
    margin: 0 0 0 40px;
    white-space: pre-line;
}

.column p {
    font-weight: normal;
    color: #aaaaaa;
    flex: 1 1 45%;
    margin-left: 10px;
}

.separator {
    margin: 0 auto;
    height: 1px;
    width: 100%;
    background-color: #aaaaaa;
}

#separator-1 {
    width: 90%;
}

.inc {
    margin: 30px 0 30px 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #aaaaaa;
}

/* About us */
.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0 30px 0;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.desc {
    flex: 1 1 25%;
}

.placeholder {
    flex: 1 1 25%;
    background: none;
    cursor: auto;
}

.row:nth-child(even) .desc{
    text-align: right;
}

.desc h2 {
    font-weight: bold;
    font-size: 20px;
}

.desc p{
    color: #aaaaaa;
    font-weight: normal;
    font-size: 12px;
    white-space: pre-line;
}

.row img {
    height: 120px;
    width: auto;
    margin: 0 20px;
}

/* Catalogue */
.catalogue {
    display: flex;
    padding: 50px;
}

.filters {
    flex: 0 0 20%;
}

#price-slider {
    margin-top: 50px;
}

.noUi-connect {
    background-color: #007bff;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after{
    width: 1px;
    height: 14px;
    left: 6px;
    top: 3px;
}

.noUi-horizontal .noUi-handle::after{
    left: 11px;
}

.vertical-separator {
    margin: 0 50px;
    width: 1px;
    background-color: #aaaaaa;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.item {
    height: 350px;
    width: 250px;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item img{
    width: 100%;
    height: 200px;
}

.item a{
    color: #aaaaaa;
    text-decoration: none;
    font-weight: normal;
}

.item a:hover {
    text-decoration: underline;
}

.item p {
    font-weight: bold;
    margin: 0;
}

.item button {
    padding: 4px 20px;
}

.item .add-to-cart {
    padding: 4px 10px;
}

.price-action {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filters {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100%;
}

.filter {
    margin: 25px auto;
    width: 200px;
}

.filter-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.price-slider {
    display: flex;
    align-items: center;
}

#min-price, #max-price{
    margin: 0;
    width: 80px;
    text-align: right;
    padding: 0 5px;
}

.price-slider input:nth-child(2){
    margin: 0 10px;
}

.filter li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
}

.filter input{
    margin-right: 10px;
}


/* Order Modal Window */
.order-modal-window .form-fields div:first-child {
    margin-top: 0;
}

.order-modal-window .modal-body {
    padding: 0;
}

.order-modal-window fieldset {
    padding: 30px 20px;
    border-bottom: 1px solid #DEE2E6;
}

.modal-btns {
    display: flex;
    justify-content: right;
    margin: 20px 20px 20px 0;
}

.modal-btns button {
    margin: 0 10px;
}

/* Login / Register */
.content-section{
    width: 35%;
    margin: 4% auto;
    padding: 40px 20px;
    border: 2px solid #dadada;
    border-radius: 10px;
    background-color: rgba(127, 127, 127, 0.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#login-section {
    width: 30%;
}

#id_password1_helptext{
    margin-left: 20px;
}

.form-fields div{
    margin: 40px auto;
}

.form-group button{
    margin: 20px 0;
}

fieldset .form-text{
    font-size: 12px;
    margin: 0 auto;
}

.content-section li{
    font-size: 12px;
}

.redirect {
    text-align: center;
    font-size: 16px;
}

.redirect a{
    font-size: 16px;
    margin-left: 5px;
}

/* PROFILE */
.profile {
    padding: 50px;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 20px;
}

.alert {
    width: 30%;
    margin: 0 auto;
}

#myTab {
    margin-top: 20px;
}

.tab-content {
    padding: 40px 0;
}

.tab-pane {
    transition: all 0.2s;
}

.profile .nav-tabs {
    width: 35%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#orders {
    width: 80%;
    margin: 0 auto;
}

#orders td {
    vertical-align: middle;
}

.cancel-order-btn {
    border: none;
    background-color: transparent;
}

.profile-form {
    width: 35%;
    margin: 0 auto;
    text-align: left;
}

.profile-form li {
    font-size: 12px;
}

.tab-content fieldset div:first-child {
    margin: 0 auto 20px auto;
}

.dropdown-menu {
    transition: all 0.2s;
}

/* Item */
.item-section {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.item-photos .carousel {
    height: 350px;
    width: 500px;
}

.item-photos .carousel-control-prev {
    left: -15%; /* Adjust left position for previous button */
}

.item-photos .carousel-control-next {
    right: -15%; /* Adjust right position for next button */
}

.item-photos .carousel-control-prev-icon, .item-photos .carousel-control-next-icon {
    filter: invert(1);  /* Invert icon color to black */
}

.item-photos .carousel-indicators {
    bottom: -5%;
}

.item-photos .carousel-indicators button{
    background-color: grey;
    width: 10px;
    height: 10px;
}

.item-carousel-indicator {
    border-radius: 50%;
}

.item-photos img {
    border-radius: 50px;
}

.item-details {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-desc {
    margin: 20px 0 40px 0;
}

/* Cart */
.card-body .row {
    margin-bottom: 0;
}

.delete-order-btn {
    border: none;
    background-color: transparent;
    color: #666666;
}

.quantity-btn {
    color: #666666;
}

.back-to-shop {
    text-decoration: none;
    color: #666666;
    font-weight: bold;
}

.back-to-shop:hover {
    text-decoration: underline;
}