{% load static %}
<footer>

    <form class="feedback-form" action="{% url 'feedback' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="leave your feedback" class="input-field" name="feedback-text">
        <button type="submit" class="submit-button">Submit</button>
    </form>

    <div class="info">

        <div class="column">
            <h2>Contact info</h2>
            <h3>📍 Address:</h3>
            <p>123 Sneaker Street
               Cityville, Footwear Land
               Zip Code: 54321
            </p>
            <h3>📞 Phone:</h3>
            <p>+1 (555) 123-4567</p>
            <h3>📧 Email:</h3>
            <p>info@sneakeremporium.com</p>
            <h3>📱 Social Media:</h3>
            <p>Instagram: @SneakerEmporium
               Twitter: @SneakEmpire
               Facebook: /SneakerEmporium
            </p>
        </div>

        <div class="column">
            <h2>Work Schedule</h2>
            <h3>📅 Mon:</h3>
            <p>9:00 AM - 7:00 PM</p>
            <h3>📅 Tue:</h3>
            <p>9:00 AM - 7:00 PM</p>
            <h3>📅 Wed:</h3>
            <p>9:00 AM - 7:00 PM</p>
            <h3>📅 Thu:</h3>
            <p>9:00 AM - 7:00 PM</p>
            <h3>📅 Fri:</h3>
            <p>9:00 AM - 7:00 PM</p>
            <h3>📅 Sat:</h3>
            <p>10:00 AM - 5:00 PM</p>
            <h3>📅 Sun:</h3>
            <p>Closed</p>
        </div>

        <div class="column">
            <h2>Payment info</h2>
            <h3>💳 Credit Cards:</h3>
            <p>Visa, MasterCard, Amex</p>
            <h3>💳 Debit Cards:</h3>
            <p>Visa, MasterCard</p>
            <h3>📱 Mobile Payments:</h3>
            <p>Apple Pay, Google Pay</p>
            <h3>💻 Online Payments:</h3>
            <p>PayPal</p>
            <h3>🏦 Bank Transfer:</h3>
            <p>Bohdan Yarema</p>
            <h3>🔒 Secure Transactions</h3>
        </div>

    </div>

    <div class="separator" id="separator-1"></div>

    <h2 class="inc">All Rights Reserved | Designed for Sneaker Enthusiasts | © 2024 stepmania</h2>

</footer>
