{% load static %}
<header>
    <nav>
        <img class="logo" src="{% static 'home/img/sneaker.png' %}" alt="img">
        <ul class="nav-list">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
        </ul>
    </nav>
    <div class="commerce">
        <form action="{% url 'catalogue' %}" method="get" class="search-field">
            <button type="submit">
                <img src="{% static 'home/img/loupe.png' %}" alt="img">
            </button>
            <input type="text" name="search" placeholder="search" class="input-field" value="{{search}}">
        </form>
        {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">
                <img id="cart-img" src="{% static 'home/img/cart.png' %}" alt="img">
            </a>
            <a href="{% url 'profile' %}">
                <img src="{% static 'home/img/user.png' %}" alt="img">
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <img id="cart-img" src="{% static 'home/img/cart.png' %}" alt="img">
            </a>
            <a href="{% url 'login' %}">
                <img src="{% static 'home/img/user.png' %}" alt="img">
            </a>
        {% endif %}
    </div>
</header>