{% extends "home/base.html" %}
{% load static %}
{% block content %}
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">

                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ num_items }} items</h6>

                  </div>
                  <hr class="my-4">

                    {% for item, photo in cart_items_and_photos %}
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                              <img
                                src="../../{{ photo.image.url }}"
                                class="img-fluid rounded-3">
                            </div>

                            <div class="col-md-3 col-lg-3 col-xl-3">
                              <h6 class="text-muted">{{ item.brand.name }}</h6>
                              <h6 class="mb-0">{{ item.model }}</h6>
                            </div>

                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                              <button class="quantity-btn btn px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                              </button>

                              <input id="form1" min="0" name="quantity" value="{{ item.quantity }}" type="number"
                                class="form-control form-control-sm" />

                              <button class="quantity-btn btn px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>

                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                              <h6 class="mb-0">{{ item.price }}$</h6>
                            </div>

                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                              <button class="delete-order-btn btn" data-shoes-id="{{ item.id }}"><i class="fas fa-times"></i></button>
                            </div>

                          </div>

                        <hr class="my-4">
                    {% endfor %}

                    <div class="pt-5">
                      <h6 class="mb-0">
                        <a href="{% url 'catalogue' %}" class="back-to-shop">
                          <i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop
                        </a>
                      </h6>
                    </div>

                </div>

              </div>

              <!-- Summary -->
              <div class="col-lg-4 bg-body-tertiary">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{ num_items }}</h5>
                    <h5>$ {{ total_price }}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="form-select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>$ {{ total_price|add:5.0 }}</h5>
                  </div>

                  <button  type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Place order</button>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}