{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <section class="profile">

        <img class="avatar" src="../..{{photo.url}}">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                    {% if message.tags == 'success' %}{{ message }}{% else %}Data you entered is incorrect, somthing went wrong.{% endif %}
                </div>
            {% endfor %}
        {% endif %}

        <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="home" aria-selected="true">Orders</button>
              </li>
              <li class="nav-item" role="presentation">
                    <button class="nav-link" id="change-profile-tab" data-bs-toggle="tab" data-bs-target="#change-profile-form" type="button" role="tab" aria-controls="change-profile" aria-selected="false">Change profile</button>
              </li>
              <li class="nav-item" role="presentation">
                    <button class="nav-link" id="change-password-tab" data-bs-toggle="tab" data-bs-target="#change-password-form" type="button" role="tab" aria-controls="change-password" aria-selected="false">Change password</button>
              </li>
        </ul>

        <div class="tab-content" id="myTabContent">

            <div class="order-table tab-pane fade show active" id="orders">

                <table class="table table-hover">
                    <thead class="table-dark">

                        <td>#</td>
                        <td>Shoes</td>
                        <td>Total price</td>
                        <td>Registration date</td>
                        <td>Address</td>
                        <td>Delivery price</td>
                        <td>Payment</td>
                        <td>Cancel</td>

                    </thead>
                    <tbody>
                        {% if orders %}
                            {% for order, items in orders.items %}
                                <tr class="order">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Show models
                                            </button>
                                            <ul class="dropdown-menu">
                                                {% for item, quantity in items %}
                                                        <li><button class="dropdown-item" type="button">{{ quantity }}x {{ item.brand.name }} {{ item.model }}</button></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </td>
                                    <td>${{ order.total_price }}</td>
                                    <td>{{ order.registration_date }}</td>
                                    <td>{{ order.address }}</td>
                                    <td>${{ order.delivery_price }}</td>
                                    <td>{{ order.payment }}</td>
                                    <td><button class="cancel-order-btn" data-order-id="{{order.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal">❌</button></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    Orders Not Found!
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>

            <div class="profile-form edit-user-form tab-pane fade" id="change-profile-form">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="form-fields">
                            {{ user_edit_form|crispy }}
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-outline-info" type="submit" name="user_edit_form">Save changes</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="profile-form change-password-form tab-pane fade" id="change-password-form">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="form-fields">
                            {{ change_password_form|crispy }}
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-outline-info" type="submit" name="change_password_form">Change password</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                    <div class="modal-content">
                          <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation window</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-start">
                                Are you sure you want to delete the order? Money will not be returned.
                          </div>
                          <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="button" class="btn btn-primary confirm-button">Yes</button>
                          </div>
                    </div>
              </div>
        </div>

    </section>

{% endblock content %}