{% extends "home/base.html" %}
{% load filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="catalogue">

            <div class="filters">

                <div class="filter">
                    <h2 class="filter-title">Price</h2>
                    <div id="price-slider"></div>
                </div>

                <div class="separator"></div>

                <div class="filter" id="category-filter">
                    <h2 class="filter-title">Category</h2>
                    <ul>
                        {% for category in categories %}
                            <li><input type="checkbox" onchange="filterProducts()" checked>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="separator"></div>

                <div class="filter" id="brand-filter">
                    <h2 class="filter-title">Brand</h2>
                    <ul>
                        {% for brand in brands %}
                            <li><input type="checkbox" onchange="filterProducts()" checked>{{ brand.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="separator"></div>

                <div class="filter" id="availability-filter">
                    <h2 class="filter-title">Availability</h2>
                    <input type="checkbox" onchange="filterProducts()">Only available</input>
                </div>

                <div class="separator"></div>
                
            </div>

            <div class="vertical-separator" id="vertical-separator-1"></div>

            <div class="items">
                {% for s, l in shoes_logo %}

                        <div class="item {% if not s.availability %}{{unavailable}}{% endif %}"
                             data-category="{{s.category.name}}"
                             data-brand="{{s.brand.name}}"
                             data-price="{{s.price}}"
                             data-availability="{{s.availability}}">

                            <img src="../../..{{ l.image.url }}" alt="logo">
                            <a href="{{s.model|replace_spaces}}">{{s.brand.name}} {{s.model}}</a>

                            <div class="price-action">
                                <p>{{s.price}}$</p>
                                <button type="button" class="buy-button btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" data-item-id="{{s.id}}">buy</button>
                            </div>

                        </div>
                
                {% endfor %}
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation window</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                    <form id="itemForm" method="POST" action="{% url 'order' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_id" id="itemIdInput">
                                        <fieldset class="form-group">
                                            <div class="form-fields">
                                                {{ form|crispy }}
                                            </div>
                                        </fieldset>
                                        <div class="modal-btns">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary">Place order</button>
                                        </div>
                                    </form>
                              </div>

                        </div>
                  </div>
            </div>

    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var slider = document.getElementById('price-slider');
            var minPrice = 0;
            var maxPrice = 300;

            noUiSlider.create(slider, {
                start: [minPrice, maxPrice],
                connect: true,
                range: {
                    'min': minPrice,
                    'max': maxPrice
                },
                tooltips: [true, true],
                format: {
                    to: function(value) {
                        return value.toFixed(2);
                    },
                    from: function(value) {
                        return Number(value);
                    }
                }
            });

            function makeTooltipEditable(tooltip, idx) {
                tooltip.contentEditable = true;

                tooltip.addEventListener('blur', function () {
                    tooltip.contentEditable = false;

                    let values = [null, null];
                    values[idx] = this.innerText;

                    slider.noUiSlider.set(values);
                });
            }

            slider.noUiSlider.on('update', function (values, handle) {
                var tooltips = slider.querySelectorAll('.noUi-tooltip');
                tooltips.forEach(function(tooltip, idx) {
                    if (!tooltip.isContentEditable) {
                        tooltip.addEventListener('click', function () {
                            makeTooltipEditable(tooltip, idx);
                            tooltip.focus();
                        });
                    }
                });

                filterProducts();
            });
        });

        $(document).ready(function() {
            $('.buy-button').click(function() {
                var itemId = $(this).data('item-id');
                $('#itemIdInput').val(itemId); // Set the value to the hidden input field in the form

                // Submit the form via AJAX
                $('#itemForm').submit(function(event) {
                    event.preventDefault(); // Prevent the default form submission
                    var form = $(this);
                    var formData = form.serialize(); // Serialize form data
                    var url = form.attr('action'); // Get the form action URL

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: formData,
                        success: function(response) {
                            // Handle success response if needed
                            console.log(response);
                        },
                        error: function(error) {
                            // Handle error response if needed
                            console.error('Error:', error.toString());
                        }
                    });

                    $('#exampleModal').modal('hide');
                });
            });
        });
    </script>

{% include 'home/footer.html' %}
{% endblock content %}