{% extends "home/base.html" %}
{% load filters %}
{% block content %}
    <section class="catalogue">

            <div class="filters">

                <div class="filter">
                    <h2 class="filter-title">Price</h2>
                    <div id="price-slider"></div>
                </div>

                <div class="separator"></div>

                <div class="filter" id="category-filter">
                    <h2 class="filter-title">Category</h2>
                    <ul>
                        {% for category in categories %}
                            <li><input type="checkbox" onchange="filterProducts()" checked>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="separator"></div>

                <div class="filter" id="brand-filter">
                    <h2 class="filter-title">Brand</h2>
                    <ul>
                        {% for brand in brands %}
                            <li><input type="checkbox" onchange="filterProducts()" checked>{{ brand.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="separator"></div>

                <div class="filter" id="availability-filter">
                    <h2 class="filter-title">Availability</h2>
                    <input type="checkbox" onchange="filterProducts()">Only available</input>
                </div>

                <div class="separator"></div>
                
            </div>

            <div class="vertical-separator" id="vertical-separator-1"></div>

            <div class="items">
                {% for s, l in shoes_logo %}

                        <div class="item {% if not s.availability %}{{unavailable}}{% endif %}"
                             data-category="{{s.category.name}}"
                             data-brand="{{s.brand.name}}"
                             data-price="{{s.price}}"
                             data-availability="{{s.availability}}"
                        >
                            <img src="../../..{{ l.image.url }}" alt="logo">
                            <a href="{{s.model|replace_spaces}}">{{s.brand.name}} {{s.model}}</a>

                            <div class="price-action">
                                <p>{{s.price}}$</p>
                                <button type="button" class="btn btn-dark">buy</button>
                            </div>

                        </div>
                
                {% endfor %}
            </div>

    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var slider = document.getElementById('price-slider');
            var minPrice = 0;
            var maxPrice = 300;

            noUiSlider.create(slider, {
                start: [minPrice, maxPrice],
                connect: true,
                range: {
                    'min': minPrice,
                    'max': maxPrice
                },
                tooltips: [true, true],
                format: {
                    to: function(value) {
                        return value.toFixed(2);
                    },
                    from: function(value) {
                        return Number(value);
                    }
                }
            });

            function makeTooltipEditable(tooltip, idx) {
                tooltip.contentEditable = true;

                tooltip.addEventListener('blur', function () {
                    tooltip.contentEditable = false;

                    let values = [null, null];
                    values[idx] = this.innerText;

                    slider.noUiSlider.set(values);
                });
            }

            slider.noUiSlider.on('update', function (values, handle) {
                var tooltips = slider.querySelectorAll('.noUi-tooltip');
                tooltips.forEach(function(tooltip, idx) {
                    if (!tooltip.isContentEditable) {
                        tooltip.addEventListener('click', function () {
                            makeTooltipEditable(tooltip, idx);
                            tooltip.focus();
                        });
                    }
                });

                filterProducts();
            });
        });
    </script>

{% include 'home/footer.html' %}
{% endblock content %}